<table class="table table-success table-striped text-center">
    <thead>
        <tr class="text-danger">
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Date</th>
            <th scope="col">User_name</th>
            <th scope="col">User_id</th>
            <th scope="col">Post_id</th>
            <th scope="col">Function</th>



        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of viewposts let i=index ">
            <th scope="row">{{i+1}}</th>
            <td>{{data.title}}</td>
            <td>{{data.category}}</td>
            <td>{{data.date}}</td>
            <td>{{data.user_name}}</td>
            <td>{{data.user_id}}</td>
            <td>{{data._id}}</td>
            <td>

                <button (click)="deletes(data._id)" type="button"
                    class="btn w-100 m-1 btn-sm btn-danger ">Delete</button>
                <button (click)="edit (data._id)" type="button" class="btn w-100 m-1 btn-warning btn-sm ">Edit</button>
                <button (click)="readmore (data._id)" type="button" class="btn w-100 m-1 btn-sm btn-success">Readmore
                </button>
            </td>
        </tr>

    </tbody>
</table>